<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
   
</head>
<body>
    <header>
 
<div class="welcome-text">
        <h1>
We are <span>Creative</span></h1>

<div class="input-group rounded">
  <input type="search"  class="form-control rounded" placeholder="Rechercher un produit..." #dataSearched aria-label="Search"
  aria-describedby="search-addon"  />
  <button mat-raised-button color="primary" class="button" ><i class="fa fa-search"></i></button>
</div>

    </div>
</header>
   
</body>
</html>
